/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-auduccc7mo] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-auduccc7mo] {
    flex: 1;
}

.top-row[b-auduccc7mo] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-auduccc7mo]  a, .top-row[b-auduccc7mo]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-auduccc7mo]  a:hover, .top-row[b-auduccc7mo]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-auduccc7mo]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }
