/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-auduccc7mo] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 0;
}

main[b-auduccc7mo] {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 10px;
}

.top-row[b-auduccc7mo] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

    .top-row[b-auduccc7mo]  a, .top-row[b-auduccc7mo]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-auduccc7mo]  a:hover, .top-row[b-auduccc7mo]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-auduccc7mo]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.content[b-auduccc7mo] {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app-footer[b-auduccc7mo] {
    position: static;
    flex-shrink: 0;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #d6d5d5;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
}

.header-container[b-auduccc7mo] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding-bottom: 10px; /* Optional spacing */
}

.header-logo[b-auduccc7mo] {
    position: relative;
    left: 0;
    width: 75px;
    height: 75px;
    object-fit: contain;
}

@media (max-width: 576px) {
    .header-container[b-auduccc7mo] {
        min-height: 70px;
        padding-bottom: 5px;
    }

    .header-logo[b-auduccc7mo] {
        width: 50px;
        height: 50px;
    }

    .header-title[b-auduccc7mo] {
        font-size: 1.5rem;
    }
}
